<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
    {% include 'top.html' %}
    <div id="content">
        <div id="container">
            <h1 class="page-title">Add A New Academic Staff</h1>
            <form class="pure-form pure-form-stacked login" method="POST" action="{{ url_for('add_staff') }}">
                <input type="text" name="id" placeholder="id" required>
                <input type="text" name="name" placeholder="name" required>
                <input type="text" name="deptid" placeholder="department id" required>
                <input type="text" name="password" placeholder="password" required>
                <input type="text" name="address" placeholder="address" required>
                <input type="text" name="salary" placeholder="salary" required>
                <input class="pure-button pure-button-primary" type="submit">
            </form>

            {% if staff %}
                <h1> </h1>
                <h2> Successfully </h2>
                <table class="pure-table">
                    <thead>
                        <tr><th>id</th><th>name</th><th>deptid</th><th>password</th><th>address</th><th>salary</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{staff[0]}} </td>
                            <td> {{staff[1]}} </td>
                            <td> {{staff[2]}} </td>
                            <td> {{staff[3]}} </td>
                            <td> {{staff[4]}} </td>
                            <td> {{staff[5]}} </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</body>
</html>